<footer class="footer">
  <small>
    <a href="#">Anton Domash<br/>(Zlatosovsky)</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>